version: '3.9'

services:
  articleservice:
    image: articleservice:latest
    environment:
      RABBITMQ_HOST: rabbitmq
    ports:
      - "8080:8080"
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    networks:
      - app-network

  commentservice:
    image: commentservice:latest
    ports:
      - "8081:8080"
    networks:
      - app-network

  profanityservice:
    image: profanityservice:latest
    ports:
      - "8082:8080"
    networks:
      - app-network
    
  publisherservice:
    image: publisherservice:latest
    ports:
      - "8083:8080"
    environment:
      RABBITMQ_HOST: rabbitmq
    networks:
      - app-network

  draftservice:
    image: draftservice:latest
    ports:
      - "8084:8080"
    networks:
      - app-network

  newsletterservice:
    image: newsletterservice:latest
    ports:
      - "8085:8080"
    environment:
      RABBITMQ_HOST: rabbitmq
    networks:
      - app-network
  
  subscriberservice:
    image: subscriberservice:latest
    ports:
      - "8086:8080"
    environment:
      RABBITMQ_HOST: rabbitmq
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - app-network

  seq:
    image: datalust/seq:latest    
    ports:
      - "5341:5341"
      - "5342:80"
    volumes:
      - rps_seq_data:/data
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    networks:
      - app-network

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - app-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: ["redis-server", "--maxmemory", "100mb", "--maxmemory-policy", "allkeys-lru"]
    networks:
      - app-network

  redis-exporter:
    image: oliver006/redis_exporter
    command:
      - '--redis.addr=redis:6379'
    ports:
      - "9121:9121"
    networks:
      - app-network

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
       - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
       - prometheus-data:/prometheus
    command:
       - '--config.file=/etc/prometheus/prometheus.yml'
       - '--storage.tsdb.path=/prometheus'
       - '--storage.tsdb.retention.time=90d'
       - '--web.enable-lifecycle'
    restart: unless-stopped
    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - app-network

networks:
  app-network:
    driver: overlay

volumes:
  prometheus-data:
  rps_seq_data:
  grafana-storage: {}
